<div class="container page">
  <div class="onboarding-page">
    <%= render "flash_messages" %>
    <div class="onboarding-page-content">
      <h1 style="margin: 0; margin-bottom: 20px;">Let's get your apps hosted</h1>
      <p>Great to see you here! In the next steps you are going to add your application, install a server, and deploy your code.</p>
      <p class="primary-action"><%= link_to "Get started", setup_app_path, class: "continue button" %></p>
    </div>
  </div>
</div>
