<ul class="fa-ul">
  <li><i class="fa-li fa fa-check"></i> Username and password verified</li>
  <li><i class="fa-li fa fa-check"></i> Ubuntu 12.04 LTS installed</li>
  <li><i class="fa-li fa fa-check"></i> Chef installed</li>
</ul>

<p class="continue">
<%= link_to "Add Rails apps", server_path(@server), class: 'continue button' %>
</p>
