<p>We where not able to install your server with the following reason:<br/>
<section id="flash_messages">
  <div class="alert error">
    <%= @server.last_error %>
  </div>
</section>

<p>You can remove this server from your account, and try adding it again.</p>
<%= link_to server_path(@server), method: :delete, class: 'button problem', data: {confirm: "This will remove the server from your account, are you sure?"} do %>
  <i class="fa fa-trash-o"></i> Remove this server
<% end %> Or <%= link_to "Go back to your server list", root_path %>
