<h1>Remove this server</h1>

<%= form_for @server, method: :delete do %>

<p>This will remove this server from your account. It will not remove or touch anything on your actual server. Are you sure you want to permanently remove this server from your account?</p>

<p><button class="action remove button">Yes, remove this server</button></p>

<% end %>
