<section class="backups">
  <section class="header">
    <h1>Backup overview</h1>
  </section>
  <section class="body">
    <p>On this page you can see the backups that have been created for your applications.</p>
    <div class="loading-backups"><i class="fa fa-circle-o-notch fa-spin"></i> Fetching your backup information</div>
    <div class="hidden" id="load-backups" data-fetch-backups-url="<%= fetch_backups_path %>"></div>
  </section>
</section>
