<div class="onboarding-progress">
  <ul class="progress-steps">
    <li class="<%= "active" if active == "add_app" %>">1. Setup App</li>
    <li class="<%= "active" if active == "server_setup" %>">2. Setup Server</li>
    <li class="<%= "active" if active == "deploy_app" %>">3. Deploy App</li>
  </ul>
</div>
